.order{
    background-color: white;
    margin: 1%;
    border: 1px solid black;
}
.order_p{
    display: flex;
    gap: 60%;
    margin-top: 1%;
};
.order_h3{
    margin-top: 1%;
    font-size: 25px;
}
.order_second_container{
    margin: 4%;
}